.centered-wrapper {
  height: 400px;
  &:before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    margin-left: -0.25em;
  }
  &__inner {
    display: inline-block;
    vertical-align: middle;
    max-width: 99%;
  }
}
.main-wrapper {
  background-color: #d70aff;
  text-align: center;
  margin: 80px 0;
  color: #fff;
  &__title {
    margin-bottom: 30px;
  }
}